<%= qr_code(@user_token) %>

<% if mobile_user_agent? %>
  <a href="http://auverify.com/sendToApp/<%= @user_token %>">Send To Auverify</a>
<% end %>

<script>
(function waitForLogin() {
  setTimeout(function()
    {
      $.get("/sessions/waitForLogin").done(function(data) {
          if(data.result==true)
            window.location = '/'
          else
            waitForLogin()
        }).error(function(data) { waitForLogin() })
    }, 1000)
})()
</script>
