<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Log in request from Auth Demo</h1>
    <p>
      To login to the site, just follow this link: https://www.authdemo.com/authenticate/<%= @email_token %>
    </p>
    <p>
      client ip:<%= @ip %>
    </p>
  </body>
</html>
